<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-dark">
    <div class="container">
      <h1 class="text-light display-4">scotty.lol command info</h1>
      <div class="card text-bg-dark">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Matches</th>
              <th>Examples</th>
            </tr>
          </thead>
          <tbody>
            <%- include("../partials/help-rows") %>
          </tbody>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
