name: Deploy
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      #
      # ... your other steps, such as running tests, etc...
      #
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ./deploy.key
          sudo chmod 600 ./deploy.key
          echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{secrets.PITTSBURGH_SSH_KEY}}
          SSH_KNOWN_HOSTS: ${{secrets.PITTSBURGH_SSH_KNOWN_HOSTS}}

      # (optional - only needed if your config uses environment variables)
      # - name: Create env file
      #   run: |
      #     touch .env
      #     echo DATABASE_ADDRESS=${{ secrets.DATABASE_ADDRESS }} >> .env

      - name: Install PM2
        run: npm i pm2

      - name: Deploy
        # run: env $(cat .env | grep -v \"#\" | xargs) pm2 deploy ecosystem.config.js staging
        run: pm2 deploy ecosystem.config.js production
        # Or alternately, put this deploy script in your package.json's scripts and run it using yarn/npm:
        # run: yarn deploy